@page

@model CarRental.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Обяви";
}

@section Styles{
        <link rel="stylesheet" href="~/css/CarsAll.css" />
}
<div class="body-section">

    <div class="color-overlay"></div>

    <div class="elements">
        <partial name="_SearchSectionPartial" model="Model.QueryModel"/>
        <div class="row res-container">
            <div class="row post-cards">
                @if (Model.Car.Count() == 0 && Model.QueryModel.SearchTerm != null)
                {
                        <div class="no-post-container">
                            <h2>Няма коли по зададените критерии</h2>
                        </div>
                }
                else
                {
                        <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1 elements-container">
                            <partial name="_CarsContainerPartial" model="Model" />
                        </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
        <script src="/js/SortOnChange.js"></script>
}