@page
@model CarRental.Pages.Dealers.InfoModel

@{
    ViewBag.Title = "Информация";
}

@section Styles{
            <link rel="stylesheet" href="~/css/CreateAndEditPages.css"/>
}

<div class="section">
    <div class="color-overlay"></div>
    <div class="text-center">
        <h1 class="text-light">Успешно изпратихте заявка за дилърство</h1>
        <h1 class="text-light">След като бъде одобрена, ще получите възможност да създавате обяви</h1>
    </div>
</div>
